[submodule "extern/LogicBlocks"]
	path = extern/LogicBlocks
	url = https://github.com/cda-tum/LogicBlocks.git
    branch = main
[submodule "extern/mqt-core"]
	path = extern/mqt-core
	url = https://github.com/cda-tum/mqt-core
