[submodule "extern/qfr"]
	path = extern/mqt-core
	url = https://github.com/cda-tum/mqt-core.git
	branch = main
[submodule "extern/LogicBlocks"]
	path = extern/LogicBlocks
	url = https://github.com/cda-tum/LogicBlocks.git
    branch = main
