[submodule "extern/qfr"]
	path = extern/qfr
	url = https://github.com/cda-tum/qfr.git
	branch = main
[submodule "extern/LogicBlocks"]
	path = extern/LogicBlocks
	url = https://github.com/cda-tum/LogicBlocks.git
    branch = main
[submodule "extern/smt-switch"]
	path = extern/smt-switch
	url = https://github.com/stanford-centaur/smt-switch.git
