scikit-build-core==0.6.1
setuptools-scm==7.0.0
pybind11==2.11.0
pytest==7.0.0
importlib_resources==5.0.0
typing_extensions==4.0.0
qiskit==0.46.0
rustworkx==0.13.0
mqt.qcec==2.0.0
distinctipy==1.2.2
plotly==5.15.0
networkx==2.5
walkerlayout==1.0.2
ipywidgets==7.6.5
