name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_dispatch:

defaults:
  run:
    shell: bash

env:
  BUILD_TYPE: Release
  CMAKE_BUILD_PARALLEL_LEVEL: 2
  Z3_GIT_TAG: z3-4.8.10

jobs:
  codestyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: DoozyX/clang-format-lint-action@v0.12
        with:
          source:             'apps include src test jkq/qmap'
          extensions:         'h,hpp,c,cpp'
          clangFormatVersion: 12

  ubuntu-ci:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.9'

      - name: Installing boost
        run:  sudo apt-get install -y libboost-program-options-dev

      - name: Install Z3
        run:  python -m pip install z3-solver

      - name: Set environment for Z3
        run:  |
              export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/python/cp39-cp39/lib/python3.9/site-packages/z3/lib 
              export Z3_ROOT=/opt/python/cp39-cp39/lib/python3.9/site-packages/z3 
              export Z3_DIR=/opt/python/cp39-cp39/lib/python3.9/site-packages/z3
              echo "::set-env name=LD_LIBRAY_PATH::$LD_LIBRARY_PATH"
              echo "::set-env name=Z3_ROOT::$Z3_ROOT
              echo "::set-env name=Z3_DIR::$Z3_DIR

      - name: Configure CMake
        run:  |
              cmake -S "${{github.workspace}}" -B "${{github.workspace}}/build" -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DBUILD_QMAP_TESTS=ON -DBINDINGS=ON

      - name: Build
        run: |
          cmake --build "${{github.workspace}}/build" --config $BUILD_TYPE --target qmap_heuristic
          cmake --build "${{github.workspace}}/build" --config $BUILD_TYPE --target qmap_exact
          cmake --build "${{github.workspace}}/build" --config $BUILD_TYPE --target qmap_heuristic_test
          cmake --build "${{github.workspace}}/build" --config $BUILD_TYPE --target qmap_exact_test

      - name: Test
        working-directory: ${{github.workspace}}/build/test
        run: ctest -C $BUILD_TYPE --output-on-failure

      - name: Coverage
        run: |
             cmake -S "${{github.workspace}}" -B "${{github.workspace}}/buildCov" -DCMAKE_BUILD_TYPE=Debug -DBUILD_QMAP_TESTS=ON -DCOVERAGE=ON -DBINDINGS=ON
          cmake --build "${{github.workspace}}/buildCov" --config Debug --target qmap_exact_test
          cmake --build "${{github.workspace}}/buildCov" --config Debug --target qmap_heuristic_test
          cd buildCov/test
          ctest -C $BUILD_TYPE --output-on-failure

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1

  macOS-ci:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Installing boost and Z3
        run:  brew install boost z3

      - name: Configure CMake
        run:  cmake -S "${{github.workspace}}" -B "${{github.workspace}}/build" -DCMAKE_BUILD_TYPE=$BUILD_TYPE -DBUILD_QMAP_TESTS=ON

      - name: Build
        run:  |
              cmake --build "${{github.workspace}}/build" --config $BUILD_TYPE --target qmap_heuristic
              cmake --build "${{github.workspace}}/build" --config $BUILD_TYPE --target qmap_exact
              cmake --build "${{github.workspace}}/build" --config $BUILD_TYPE --target qmap_heuristic_test
              cmake --build "${{github.workspace}}/build" --config $BUILD_TYPE --target qmap_exact_test

      - name: Test
        working-directory: ${{github.workspace}}/build/test
        run: ctest -C $BUILD_TYPE --output-on-failure

  windows-ci:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Cache Boost
        id:   cache-boost
        uses: actions/cache@v2
        with:
          path: ${{github.workspace}}/boost_1_70_0
          key:  ${{ runner.OS }}-boost170

      - name: Download boost
        if: steps.cache-boost.outputs.cache-hit != 'true'
        shell: cmd
        run: C:\msys64\usr\bin\wget.exe https://boostorg.jfrog.io/artifactory/main/release/1.70.0/source/boost_1_70_0.7z --no-check-certificate

      - uses: ilammy/msvc-dev-cmd@v1

      - name:  Building boost
        if: steps.cache-boost.outputs.cache-hit != 'true'
        run: |
             "/c/Program Files/7-Zip/7z.exe" x boost_1_70_0.7z "-o${{github.workspace}}"
             cd boost_1_70_0
             ./bootstrap.bat
             ./b2.exe -j8 address-model=64 link=static threading=multi runtime-link=shared variant=release --build-type=minimal --with-program_options

      - name: Cache Z3
        id:   cache-z3
        uses: actions/cache@v2
        with:
          path: z3
          key:  ${{ runner.OS }}-z3-${{ env.Z3_GIT_TAG }}-static

      - name:  Building Z3
        if:    steps.cache-z3.outputs.cache-hit != 'true'
        run:   |
               git clone --branch $Z3_GIT_TAG --depth 1 https://github.com/Z3Prover/z3.git
               cmake -S z3 -B z3/build -DCMAKE_BUILD_TYPE=$BUILD_TYPE -G "Visual Studio 16 2019" -A x64 -DZ3_BUILD_LIBZ3_SHARED=FALSE
               cmake --build z3/build --config $BUILD_TYPE

      - name:  Configure CMake
        run:   |
               setx path "%path%;${{github.workspace}}\boost_1_70_0"
               setx lib "%lib%;${{github.workspace}}\boost_1_70_0\stage\lib"
               setx libpath "%libpath%;${{github.workspace}}\boost_1_70_0\stage\lib"
               cmake -S "${{github.workspace}}" -B "${{github.workspace}}/build" -DCMAKE_BUILD_TYPE=$BUILD_TYPE -T "ClangCl" -DBoost_USE_STATIC_LIBS=ON -DBoost_USE_MULTITHREADED=ON -DBoost_USE_STATIC_RUNTIME=OFF -DBOOST_ROOT="${{github.workspace}}\boost_1_70_0" -DBOOST_INCLUDEDIR="${{github.workspace}}\boost_1_70_0\include" -DBOOST_LIBRARYDIR="${{github.workspace}}\boost_1_70_0\stage\lib" -DZ3_ROOT=z3/build

      - name:  Build
        run:   cmake --build "${{github.workspace}}/build" --config $BUILD_TYPE

      - name:              Test
        working-directory: ${{github.workspace}}/build/apps
        run:               |
                           cd $BUILD_TYPE
                           ./qmap_exact.exe --in ../../../examples/3_17_13.qasm --out 3_17_13me.qasm --arch ../../../extern/architectures/ibmq_london.arch --ps;
                           ./qmap_heuristic.exe --in ../../../examples/3_17_13.qasm --out 3_17_13mh.qasm --arch ../../../extern/architectures/ibmq_london.arch --ps;
